.NoteCard {
  background: var(--dark-pink);
  display: inline-block;
  margin: 60px;
}

.NoteCard h1,
.NoteCard p {
  padding: 20px;
}

.NoteCard button {
  background: #000;
  border: none;
  color: #fff;
  font-size: 1rem;
  margin: 20px;
  padding: 10px;
}
